// shades of primary colors
$pryColor100: rgba(255, 0, 113, 1);
$pryColor90: rgba(255, 0, 113, 0.9);
$pryColor80: rgba(255, 0, 113, 0.8);
$pryColor70: rgba(255, 0, 113, 0.7);
$pryColor60: rgba(255, 0, 113, 0.6);
$pryColor50: rgba(255, 0, 113, 0.5);
$pryColor40: rgba(255, 0, 113, 0.4);
$pryColor30: rgba(255, 0, 113, 0.3);
$pryColor20: rgba(255, 0, 113, 0.2);
$pryColor10: rgba(255, 0, 113, 0.1);


// shades of secondary colors
$secColor100: rgba(22, 0, 255, 1);
$secColor90: rgba(22, 0, 255, 0.9);
$secColor80: rgba(22, 0, 255, 0.8);
$secColor70: rgba(22, 0, 255, 0.7);
$secColor60: rgba(22, 0, 255, 0.6);
$secColor50: rgba(22, 0, 255, 0.5);
$secColor40: rgba(22, 0, 255, 0.4);
$secColor30: rgba(22, 0, 255, 0.3);
$secColor20: rgba(22, 0, 255, 0.2);
$secColor10: rgba(22, 0, 255, 0.1);


// shades of secondary colors
$grey100: rgba(0, 0, 0, 1);
$grey90: rgba(0, 0, 0, 0.9);
$grey80: rgba(0, 0, 0, 0.8);
$grey70: rgba(0, 0, 0, 0.7);
$grey60: rgba(0, 0, 0, 0.6);
$grey50: rgba(0, 0, 0, 0.5);
$grey40: rgba(0, 0, 0, 0.4);
$grey30: rgba(0, 0, 0, 0.3);
$grey20: rgba(0, 0, 0, 0.2);
$grey10: rgba(0, 0, 0, 0.1);
